.wrapper {
    width: 875px;
}

header h1 {
    font-size: 40px;
}

ul > li > ul {
    margin: 0;
}

table tbody {
    vertical-align: top;
}

.rouge-table {
    margin: 0;
}

.rouge-table th, .rouge-table td {
    padding: 0;
    border: none;
}

.rouge-table pre {
    padding: 5px;
}

.rouge-gutter {
    width: 10px;
}

@media screen and (max-width: 800px) { 
    .wrapper { width: 100%; } 
}
@media screen and (max-width: 480px) { 
    .wrapper { width: 100%; } 
}
@media screen and (max-width: 320px) {
    .wrapper { width: 100%; } 
}